<div class="col-12 col-md-6 col-xl-4 <%= game_movie.catchphrase %>-card">
  <div class="embed-responsive embed-responsive-16by9">
    <p><%= movie(game_movie.url) %></p>
  </div>
  <% if user_signed_in? %>
    <div class="right-comment">
      <%= link_to game_movie do %>
        <h4 class="comment">コメント</h4>
      <% end %>
      <span id="movie-like-<%= game_movie.id %>">
        <% if @liked_game_movie_ids.include?(game_movie.id) %>
          <%= render "like", game_movie: game_movie %>
        <% else %>
          <%= render "unlike", game_movie: game_movie %>
        <% end %>
      </span>
    </div>
  <% else %>
    <div class="right-comment">
      <%= link_to new_user_session_path, data: { confirm: "ログインで「コメント」「いいね」機能使用可能、「コメント」するにはログインが必要となります。" } do %>
        <h4 class="comment">コメント</h4>
      <% end %>
      <%= link_to new_user_session_path, data: { confirm: "ログインで「コメント」「いいね」機能使用可能、「いいね」するにはログインが必要となります。" } do %>
        <i class="far fa-thumbs-up fa-2x mt-1 thumb-unlike"></i>
      <% end %>
    </div>
  <% end %>
</div>
