<div class="top-container">
  <div class="d-sm-none">
    <%= link_to "トップページ", root_path, class: "sub-link mr-2"%>
    <%= link_to "選手紹介", players_path, class: "sub-link" %>
  </div>
  <div class="d-sm-flex align-items-center justify-content-between mr-5">
    <h1 class="title">Match</h1>
    <div class="d-none d-sm-block">
      <%= link_to "トップページ", root_path, class: "sub-link mr-4"%>
      <%= link_to "選手紹介", players_path, class: "sub-link" %>
    </div>
  </div>
  <h2 class="title-choice">観るだけで人生が変わる試合3選</h2>
  <div class="row">
    <%= render @change_movies %>
  </div>
  <h2 class="title-choice">超リフレッシュする試合3選</h2>
  <div class="row">
    <%= render @refresh_movies %>
  </div>
  <h2 class="title-choice">観ないと損する試合3選</h2>
  <div class="row">
    <%= render @loss_movies %>
  </div>
