<% @game_comments.each.with_index(1) do |comment, index| %>
  <div>
    <p><%= comment.id %> <%=  comment.content %></p>
    <% if current_user.id == comment.user_id %>
      <p>
        <%= link_to game_movie_game_comment_path(@game_movie, comment), method: :delete, data: { confirm: "削除しますか？" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </p>
    <% end %>
  </div>
  <hr>
<% end %>
<%= form_with model: [@game_movie, @game_comment], local: true do |form| %>
  <%= form.text_field :content, required: true %>
  <%= form.submit "送信" %>
<% end %>
